*.v2
*.dll
*.pdb
*.exe
*.config
*.cache
*.suo
*.manifest
*.json
*.v2
*.props
*.lock
*.ide
*.ide-shm
*.ide-wal
*.lastcodeanalysissucceeded
Euclid/bin
Euclid/obj
EuclidTests/bin
EuclidTests/obj
Benchmarking/bin
Benchmarking/obj
EuclidTests/bin
EuclidTests/obj
*.lastcodeanalysissucceeded
.vs/Euclid/DesignTimeBuild/.dtbcache
.vs/Euclid/v15/Server/sqlite3/db.lock
*.v2
*.vsidx
*.v1
*.v2
*.json
*.editorconfig
*.targets
*.props
*.json
Benchmarking/obj/project.assets.json
Benchmarking/obj/Debug/netstandard2.0/Benchmarking.GeneratedMSBuildEditorConfig.editorconfig
Benchmarking/obj/Benchmarking.csproj.nuget.g.props
Benchmarking/obj/Benchmarking.csproj.nuget.dgspec.json
.vs/Euclid/v17/.futdcache.v1
Benchmarking/obj/Release/netstandard2.0/Benchmarking.csproj.FileListAbsolute.txt
Benchmarking/obj/Release/netstandard2.0/Benchmarking.GeneratedMSBuildEditorConfig.editorconfig
.vs/Euclid/v17/.futdcache.v1
*.json
Benchmarking/obj/Benchmarking.csproj.nuget.g.props
Benchmarking/obj/Debug/netstandard2.0/Benchmarking.GeneratedMSBuildEditorConfig.editorconfig
Benchmarking/obj/project.assets.json
