*.dll
Euclid/bin/Debug/Euclid.pdb
*.pdb
Euclid/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Euclid/obj/Debug/Euclid.csprojResolveAssemblyReference.cache
Euclid/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Euclid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Euclid/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.exe
*.config
*.cache
*.suo
TestEuclid/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestEuclid/obj/Debug/TestEuclid.csproj.FileListAbsolute.txt
TestEuclid/obj/Debug/TestEuclid.Properties.Resources.resources
TestEuclid/obj/Debug/TestEuclid.Form1.resources
TestEuclid/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestEuclid/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.manifest
Euclid/obj/Debug/Euclid.csproj.FileListAbsolute.txt
EuclidTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EuclidTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Euclid/obj/Debug/Euclid.csproj.FileListAbsolute.txt
EuclidTests/obj/Debug/EuclidTests.csproj.FileListAbsolute.txt
EuclidTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Euclid/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Euclid/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Euclid/obj/Release/Euclid.csproj.FileListAbsolute.txt
Euclid/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Euclid/obj/Debug/Euclid.csproj.FileListAbsolute.txt
Euclid/obj/Debug/Euclid.csproj.FileListAbsolute.txt
Euclid/obj/Debug/Euclid.csproj.FileListAbsolute.txt
EuclidTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EuclidTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EuclidTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EuclidTests/obj/Release/EuclidTests.csproj.FileListAbsolute.txt