*.dll
Euclid/bin
Euclid/obj
EuclidTests/bin
EuclidTests/obj
*.pdb
*.exe
*.config
*.cache
*.suo
*.manifest
*.lastcodeanalysissucceeded
.vs/Euclid/DesignTimeBuild/.dtbcache
.vs/Euclid/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
*.lastcodeanalysissucceeded
